.art {
  a {
    text-decoration: none;
    color: rgba(0,0,0, 0.9);
  }
}
p.card-text, div.card-title.h5 {
  margin: -5px 0px;
}
div.card-title.h5 {
  font-size: 0.9em;
}
p.card-text {
  font-size: 0.8em;
}


// div.col {
//   max-width: 20%;
// }
